*{
    margin: 0; 
    padding: 0;
}
.pagina{
    margin: 3px;
}
.columna1{
    background-color: white;
    border: gray;
    display: table-cell;
    padding: 20px;   
}
.columna2{
    background-color: teal;
    display: table-cell;
    padding: 20px;   
}